// font themes
$fontThm1:'Wendy One', sans-serif;
$fontThm2:'Just Another Hand', cursive;
$fontThm3:'Yanone Kaffeesatz', sans-serif;
$fontThm4:'Permanent Marker', cursive;
$fontThm5:'Jaldi', sans-serif;
$fontThm6:'Lalezar', cursive;
// color themes
$background: white;
$background2: rgb(198, 201, 197);
$darkBg: rgb(63, 61, 61);
$darkBg2: rgb(87, 85, 85);
$darkBg3: rgb(0, 0, 0);
$darkBg4: rgb(150, 167, 160);
$lightBg: #ffffff;
$cardColor: #eee;
$darkFont: #ffffff;
$lightFont: #000000;
$bannerColor: #E49B34;
$bannerColor2: rgb(229,81,90);
$bannerColor3:rgb(254, 51, 26);
$bannerColor4:rgba(254, 53, 26, 0.473);
$bannerColor5:rgb(245, 225, 111);
$bannerColor6:rgb(247, 232, 147);
$bannerColor7:rgb(243, 220, 92);
$softGrey: rgb(233,235,238);
$purple: rgb(56,64,245);
$purple2: rgb(102, 109, 245);
