// font themes
$fontThm1:'Wendy One', sans-serif;
$fontThm2:'Just Another Hand', cursive;
$fontThm3:'Yanone Kaffeesatz', sans-serif;
$fontThm4:'Permanent Marker', cursive;
$fontThm5:'Jaldi', sans-serif;
$fontThm6:'Lalezar', cursive;
// color themes
$background: white;
$darkBg: rgb(63, 61, 61);
$darkBg2: rgb(87, 85, 85);
$darkBg3: rgb(0, 0, 0);
$lightBg: #ffffff;
$darkFont: #ffffff;
$lightFont: #000000;
$bannerColor: #E49B34;
$bannerColor2: rgb(229,81,90);
$bannerColor3:rgb(254, 51, 26);
$bannerColor4:rgba(254, 53, 26, 0.473);
$bannerColor5:rgb(243, 220, 92);
$bannerColor6:rgb(255, 226, 60);
