@import "~bootstrap/scss/bootstrap";
@import '../styles/colorsAndFonts.scss';
@import '../styles/navBar.scss';


// disable bootstrap box-sizing
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
// End disable bootstrap box-sizing

body {
  background-color:$background;
  overflow: auto;
}
