@import '../../../styles/colorsAndFonts.scss';

#sideNav {
  position: fixed;
  top: 150px;
  z-index: 99;
}

.btn-danger {
  // position: center;
  z-index: 9999;
  margin-left: 500%;
  margin-right: 500%;
  margin-bottom: 50px;
}

.userName {
  font-family: $fontThm1;
  background-color: $darkBg;
  color: $background;
  padding: 5px;
  text-align: center;
  width: 160px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 4px solid $bannerColor2;
}

.cardBody {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

#usersHeader {
  max-width: 200px;
}

.components {
  max-width: 200px;
}