@import '../../../styles/colorsAndFonts.scss';

#msgPrintingDiv {
  margin-top: 140px;
}

.card {
  z-index: 0;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 7px;
  justify-content: center;
  min-height: 250px;
  max-height: 250px;
  overflow: scroll;
  box-shadow: -1px 1px 2px $darkBg;
  // background-color: white;
  background-color: $cardColor;
  font-family: $fontThm3;
}

.userName {
  font-family: $fontThm1;
  background-color: $darkBg;
  color: $background;
  padding: 5px;
  text-align: center;
  width: 160px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 4px solid $bannerColor2;
}

.cardBody {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.timeStamp {

}

.likes,
.dislikes {
  margin-top: 10px;
  width: 90px;
  height: 40px;
  z-index: 100;
}

.numThumb {
  margin: 10px;
}

.thumbs {
  margin: auto;
  margin-top: 20px;
}

// .likes > * {
//   pointer-events: none;
// }