@import '../../../styles/colorsAndFonts.scss';

#msgPrintingDiv {
  margin-top: 140px;
  width: 100%;
}

.card {
  z-index: 0;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 7px;
  justify-content: center;
  min-height: 250px;
  max-height: 250px;
  overflow: scroll;
  box-shadow: -1px 1px 2px $darkBg;
  background-color: $cardColor;
  font-family: $fontThm3;
}

.likes,
.dislikes {
  position: relative;
  z-index: 99;
  color: $bannerColor3;
}

.likes {
  left: 145px;
  top: -60px;
  height: 40px;
  left: 155px;
}
.dislikes {
  right: 55px;
  top: -58px;
  height: 40px;
}
  .likes:hover {
    transition: .7s;
    transform: scale(1.2);
  }
  .dislikes:hover {
    transition: .7s;
    transform: scale(1.2);
  }

.numThumb {
  margin: 10px;
  color: white;
  background-color: $bannerColor3;
  border-radius: 4px;
  padding: 5px;
}

.thumbs {
  margin:auto;
}

.deleteBtn {
  position: relative;
  z-index: 1000;
  left: -595px;
  top: -75px;
  border: 1px solid $bannerColor3;
  border-radius: 7px;
  font-family: $fontThm1;
  color: $bannerColor3;
}
.deleteBtn:hover {
  transition: .7s;
  color: white;
  background-color: $bannerColor3;
}

.user_guest {
  visibility: hidden; 
}
.user_joebiden666 {
  visibility: hidden;
}
.user_lizwarren4u {
  visibility: hidden;
}
.user_axlrose {
  visibility: hidden;
}
.user_pantsuitgirl {
  visibility: hidden;
}
.user_rando_bumpkin {
  visibility: hidden;
}

.user_guest2 {
  visibility: visible; 
}
.user_joebiden6662 {
  visibility: visible;
}
.user_lizwarren4u2 {
  visibility: visible;
}
.user_axlrose2 {
  visibility: visible;
}
.user_pantsuitgirl2 {
  visibility: visible;
}
.user_rando_bumpkin2 {
  visibility: visible;
}