#msgPrintingDiv {
  margin-top: 140px;
}

.card {
  z-index: -12;
  margin: auto;
  border-radius: 7px;
  justify-content: center;
  min-height: 250px;
  max-height: 250px;
  max-width: 300px;
  overflow: scroll;
}
